* {
    margin: 0;
    padding: 0;
}

html,
body {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

a {
    text-decoration: none;
}



/* ---- scroll bar ---- */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #B6B6B6;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #727272;
}
::-webkit-scrollbar-thumb:active {
  background-color: #727272;
}

/* ---- title size ---- */

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-weight: 400;
}
.markdown-body h1,
.markdown-body .h1 {
  font-size: 44px;
  line-height: 48px;
}
.markdown-body h2,
.markdown-body .h2 {
  font-size: 34px;
  line-height: 40px;
}
.markdown-body h3,
.markdown-body .h3 {
  font-size: 24px;
  line-height: 32px;
}
.markdown-body h4,
.markdown-body .h4 {
  font-size: 20px;
  line-height: 28px;
}
.markdown-body h5,
.markdown-body .h5 {
  font-size: 16px;
  line-height: 24px;
}
.markdown-body h6,
.markdown-body .h6 {
  font-size: 12px;
  line-height: 20px;
}



/* ------- font ------- */

html {
    font-family: 'Roboto', sans-serif;
}

.markdown-body  {
    font-family: "Computer Modern";
    line-height: 27px;
}



/* ---- header ---- */

.top-header {
    position: fixed;
    left: 0;
    top: 0;
    height: 56px;
    width: 100%;
    background: #006ec3;
    color: white;
    z-index:49;
}

.top-header.fixed {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.flex-row {
    display: flex;
}

.flex-row > * {
    display: block;
}

.header-icon {
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    color: white;
}

.content-header {
    padding: 104px 16px 48px 256px;
    margin-left: -240px;
    background: #006ec3;
    color: white;
}

.flex-col {
    flex: 1;
    line-height: 56px;
}

.header-title {
    visibility: hidden;
    text-align: center;
}

.header-title.fixed {
    visibility: visible;
}

@media screen and (max-width:1240px) {
    .header-title {
        text-align: left;
        padding-left: 12px;
    }
}

/* ---- loading ---- */

#loading {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 70;
  width: 100%;
  height: 3px;
  background: #FF4081;
}
#loading.active {
  -webkit-animation: loading-anim 2s ease-in-out infinite;
  animation: loading-anim 2s ease-in-out infinite;
}
@-webkit-keyframes loading-anim {
  to {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@keyframes loading-anim {
  to {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}


/* ---- gotop ---- */

#gotop {
    opacity: 0;
    position: fixed;
    right: 15px;
    bottom: 30px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    background: #D81159;
    text-align: center;
    border-radius: 28px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: 0.4s cubic-bezier(0.18, 0.81, 0.3, 0.89);
    transition: 0.4s cubic-bezier(0.18, 0.81, 0.3, 0.89);
    transform: translateX(200%);
}

#gotop:hover,
#gotop:active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#gotop.in {
    opacity: 1;
    transform: translateX(0%);
}

.mask.in {
    display: block;
}

main {
    padding-bottom: 86px;
}



/* ---- container ---- */
.container {
    position: relative;
    margin: auto;
    width: 960px;
}

.body-wrap {
    padding: 30px 0 40px;
}

@media screen and (max-width: 1240px) {
    .container {
        width: 720px;
    }
}

@media screen and (max-width: 760px) {
    .container {
        width: 100%;
        padding: 20px 16px;
    }
}


/* ---- side navigation menu */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 240px;
    min-height: 100%;
    background: #fff;
    -webkit-transition: 0.4s cubic-bezier(0.18, 0.81, 0.3, 0.89);
    transition: 0.4s cubic-bezier(0.18, 0.81, 0.3, 0.89);
    transform: translateX(-100%);
}

#menu.show {
    transform: translateX(0%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 89;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    display: none;
    -webkit-transition: 0.4s cubic-bezier(0.18, 0.81, 0.3, 0.89);
    transition: 0.4s cubic-bezier(0.18, 0.81, 0.3, 0.89);
}

.flex-row-vertical {
    display: flex;
    flex-direction: column;
}

.menu-inner {
    position: relative;
    height: 100%;
}

.flow-row-vertical {
    display: flex;
}

.nav {
    padding: 12px 0;
    list-style: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    line-height: 44px;
}

.nav li {
    padding: 0 20px;
}

.nav li a {
    display: block;
    padding-left: 48px;
    height: 44px;
    line-height: 44px;
    font-weight: 500;
    color: #727272;
}

.nav li a i {
    position: relative;
    top: 0;
    left: -40px;
}

.nav li.active a,
.nav li:hover a,
.nav li:hover .icon,
.nav li.active .icon {
    color: #3F51B5;
}

.nav li.inactive,
.nav li.inactive:hover {
    background: white;
}

.nav li.inactive a {
    color: #727272;
}

.nav li.active,
.nav li:hover {
    background: rgba(0, 0, 0, 0.05);
}

.sub-nav {
    padding: 0;
    list-style: none;
}

.sub-nav li {
    display: block;
    margin-left: 40px;
    padding-left: 36px;
    overflow: hidden;
    border-left: 1px solid #727272;
}

.sub-nav li a {
    padding-left: 0;
}


@media screen and (max-width: 760px) {
    .nav li.active,
    .nav li:hover {
        background: #FFF;
    }
}



/* ---- navigation bar footer ---- */

#menu footer {
    position: relative;
    width: 100% auto;
    font-size: 12px;
    padding: 10px 20px;
    border-top: 2px solid #dadada;
}




/* ---- print style ---- */
@media print {
    .top-header,
    .menu,
    #gotop,
    .mask {
        display: none;
    }

    .content-header{
        padding: 0;
        margin: 0 auto;
    }

    a:after {
        content: "( "attr(href)" )";
    }
}

/* ---- anchor ---- */

.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.anchor-link {
    display: block;
    position: absolute;
    left: -24px;
    opacity: 0;
    font-size: 20px;
    font-size: 20px;
    padding: 4px 10px 0 0;
}

.anchor-link-disabled {
    display: block;
    position: absolute;
    left: -24px;
    opacity: 0;
    font-size: 20px;
    font-size: 20px;
    padding: 4px 10px 0 0;
    cursor: default;
}

@media screen and (max-width: 760px) {
    .anchor-link,
    .anchor-link-disabled {
        display: none;
    }
}


.anchor-link:hover,
.anchor-link:active,
.anchor-tag:hover .anchor-link,
.anchor-tag:active .anchor-link {
    opacity: 1;
}
